{% extends './components/layout.njk' %}
{% block body %}
<div style="text-align: center; margin-top: 100px;">
    <h1 style="font-size: 120px; font-weight: bold">404</h1>
    <h3>Page not found</h3>
</div>
{% endblock %}